html {
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

body {
	background: #f8f8f8;
	color: #4D4D50;
	margin: 0px;
	max-width:1200px;
	margin:0 auto;
}
* {
    box-sizing: border-box;
	margin: 0px;
  }

h1 {
	font-weight: 800;
	font-size: 48px;
	line-height: 52px;
	text-align:center;
	padding:0px;
	margin:36px 0px 0px 0px;
	}
	
h2 {
		color:#C5B7AA;
		font-size: 22px;
	}
	
h3 {
	color: #4D4D50;
}

.flex-container {
   	display: flex;
    flex-direction: row;
	background: #c6b8ac; 
	color:#f8f8f8;
	font-family: 'Roboto', sans-serif;
}

aside {
	margin:35px 30px 35px 30px;
}
aside img {
	border-radius:20px;
}

.main-block {
	max-width: 90%;
    margin: 0 auto;
}

section{
	font-weight: normal;
	padding: 30px 0px 0px 0px;
}
section a {
	color: #4D4D50;
	text-decoration: none;
	transition: color 0.5s;
}
section a:hover {
	color: #4d2323;
}
footer {
	display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #c6b8ac;
	padding: 0px 3em;
	margin-top:20px;
	
}

footer a, nav a {
	color: #f8f8f8;
	text-decoration: none;
	transition: color 0.5s;
}
footer a:hover, nav a:hover {
	 color: #4d2323;
}
footer img {
	width:120px;
	height:100px;
}
nav {
	background-color: #c6b8ac;	
	
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 90%;
  list-style: none;
  
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
